.c-range{
   max-width: 970px;

  .span-list{
		span{
			display: inline-block;
			width: 20%;
			text-align: center;
			cursor: pointer;
		}
  }

  legend{
    width: 100%;
  	padding: 0 9.4%;
  	box-sizing: border-box;    

    input{
      width: 100%;
    }
  }
}
